<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd">
      

		<bean id="navBean" class="mbox_gui.NavBean" scope="session">
				<property name="authorizBean" ref="authorizBean"/>
		</bean>

		<bean id="authorizBean" class="mbox_gui.util.AuthorizBean">
				<property name="login" value="false"/>
		</bean>


		<bean id="user" class="mbox_gui.view.User" scope="session">
				<property name="name" value=""/>
				<property name="pass" value=""/>
		</bean>

</beans>